// Specific Colors
$color-blue-primary: #26c0da; // need to delete
$color-blue: #26c0da;
$blue-light: #1d5491;
$color-light-blue: #2779cc;
$color-green: #8cb64e;
$color-gray: #92a8aa;
$color-gray-text: #879fa0;
$color-light-gray: #ccc;

// Theme Colors
$primary-color: #26c0da; // Chawlie Blue
$secondary-color: #ed1c24; // Chawlie Red
$alert-color: #ed1c24;
$success-color: $color-green;
$warning-color: $primary-color;
$info-color: #a0d3e8;

// Font Settings
$serif: Georgia, Times, "Times New Roman", serif;
$sans-serif: Arial, "Helvetica Neue", Helvetica, sans-serif;
$compressed-font: "Arial Narrow", Arial, sans-serif;

